*.DS_Store
*.~undo-tree~
.emacs.d/bookmarks
.emacs.d/savehist
.emacs.d/recentf
.emacs.d/.desktop
.emacs.d//auto-save-list
.emacs.d//backups
.emacs.d//elpa
.emacs.d//etc
.emacs.d//manualPackages
.emacs.d//var
.emacs.d//undoTree
.emacs.d//elpy/
.emacs.d/config.el
