**.DS_Store

emacs/.emacs.desktop
emacs/.org-id-locations
emacs/config.el
emacs/elpa/*
emacs/etc/*
emacs/etc/*
emacs/org-persist/*
emacs/places*
emacs/recentf
emacs/savehist
emacs/tree-sitter/*
emacs/undo-tree/*
emacs/var/*

npm/*

zsh/.zcompdump
zsh/.zsh_history
zsh/.zsh_sessions/*
