**.DS_Store

/cache/

/docker/

/emacs/**.elc
/emacs/.emacs.desktop
/emacs/.org-id-locations
/emacs/config.el
/emacs/custom.el
/emacs/eln-cache/**
/emacs/elpa/*
/emacs/etc/*
/emacs/etc/*
/emacs/org-persist/*
/emacs/places*
/emacs/recentf
/emacs/savehist
/emacs/srecode-map.el
/emacs/tree-sitter/*
/emacs/undo-tree/*
/emacs/var/*

/fish/functions
/fist/conf.d/rustup.fish

/matplotlib/

/MusicBrainz/

/npm/*

/swi-prolog/dir-history/

/tmux/plugins/

/tree-sitter/

/zellij/config.kdl.bak

/zsh/.zcompcache/
/zsh/.zcompdump
/zsh/.zhistory
/zsh/.zsh_history
/zsh/.zsh_sessions/*




